.entrance-row {
  display: flex;
  flex-direction: column;
}

.entrance-row__card {
  width: 50%;
  height: 112px;
  margin-right: 16px;
}

.entrance-row__title {
  color: #222222;
  font-size: 28px;
  line-height: 40px;
}
