.entry-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.entry-row .entry-card {
  flex: 1;
  height: 112px;
}

.entry-card__title {
  color: #222222;
  font-size: 16px;
  line-height: 24px;
}
