.vehicle-summary {
  padding: 24px;
}

.vehicle-summary__title {
  color: #222222;
  font-size: 32px;
  line-height: 1.5;
}

.vehicle-summary__description {
  color: #666666;
  font-size: 24px;
  line-height: normal;
}
