.vehicle-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.vehicle-list__item {
  padding: 12px;
}

.vehicle-list__name {
  color: #1f1f1f;
  font-size: 28px;
  line-height: 36px;
}

